<div class="modal-backdrop fade in"></div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="#">×</a>
    <h3 id="myModalLabel">{{tracker.id}}</h3>
  </div>
  <div class="modal-body">
    <table>
		<tr>
			<td>GPS Available</td><td>{{tracker.location.available}}</td>
		</tr>
		<tr>
			<td>Time</td><td>{{ time }}</td>
		</tr>
		<tr>
			<td>Latitude</td><td>{{tracker.location.latitude}}</td>
		</tr>
		<tr>
			<td>Longitude</td><td>{{tracker.location.longitude}}</td>
		</tr>
		<tr>
			<td>Speed</td><td>{{tracker.location.speed}}</td>
		</tr>
		<tr>
			<td>Battery life</td><td>{{tracker.location.status.batteryLife}}</td>
		</tr>
		<tr>
			<td>GSM signal</td><td>{{tracker.location.status.gsmSignal}}</td>
		</tr>

		<tr>
			<td>Cell ID</td><td>{{tracker.location.network.cellId}}</td>
		</tr>

		<tr>
			<td>Country Code</td><td>{{tracker.location.network.countryCode}}</td>
		</tr>

		<tr>
			<td>Location Area Code</td><td>{{tracker.location.network.locationAreaCode}}</td>
		</tr>

		<tr>
			<td>Network Code</td><td>{{tracker.location.network.networkCode}}</td>
		</tr>

	</table>
  </div>
  <div class="modal-footer">
  	<a class="btn btn-primary" href="#/properties/{{tracker.id}}">Settings</a>
  	<button class="btn btn-primary" ng-click="zoom()">Zoom</button>
    <a class="btn" data-dismiss="modal" aria-hidden="true" href="#">Close</a>
  </div>
</div>