<div class="modal-backdrop fade in"></div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form name="myForm" ng-submit="setProperty()">
		<div class="modal-header">
			 <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="#">×</a>
			<h3 id="myModalLabel">{{propertyName}}</h3>
		</div>
		<div class="modal-body">
			<table>
			<tr ng-repeat="(name, parameter) in property.parameters">
				<td>{{name}}</td>
				<td ng-switch on="parameter.type" >
					<input ng-switch-when="boolean" type="checkbox" ng-model="value[name]" ng:pattern="parameter.pattern" >
					</input>
					<input ng-switch-when="time" type="time" ng-model="value[name]"  size="30">
					</input>
					<input ng-switch-when="text" type="text" ng-model="value[name]"  ng:pattern="propertyValidation(parameter)" size="30">
					</input>
					<input ng-switch-when="tel" type="tel" ng-model="value[name]"  size="30">
					</input>					
				</td>
			</tr>
			</table>
			<ul class="errors">
				<li ng:repeat="(name, widgets) in myForm.error">
					{{name}}:
					<ul>
						<li ng:repeat="w in widgets">
							{{w.widgetId}}
						</li>
					</ul>
				</li>
			</ul>
			
			<div class="alert alert-error" ng-show="errorCode" >
				Sending failed : {{errorCode}}
			</div>
			<div class="alert alert-warning" ng-show="showWarning" >
                Message may have been sent to tracker before you canceled
            </div>
		</div>
		<div class="modal-footer">
			<a  href="#" class="btn" data-dismiss="modal" aria-hidden="true">
				Close
			</a>
			<button class="btn btn-primary" ng-click="set()" ng-show="!loading">
				Set
			</button>
			<button class="btn btn-warning" ng-click="cancel()" ng-show="loading">
                Cancel
            </button>
		</div>
	</form>
</div>

