<div class="modal-backdrop fade in"></div>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="#">×</a>
    <h3 id="myModalLabel">Choose setting</h3>
  </div>
  <div class="modal-body">
    <div ng-repeat="(name, value) in capabilities.properties">
	<a href="#/property/{{tracker.id}}/{{name}}/">{{name}}</a>
	</div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true" href="#">Close</a>
  </div>
</div>




