
<!DOCTYPE html>
<html>
  <head>
    <title>Location Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <SocketStream/>
  </head>
  <body>
    
    <div id="map_canvas"></div>
    <div id="info_window"><a id="zoom_in" href="#">zoom in</a>    
    	<table>
    	<tr>
    	<td>GPS Available</td><td data-bind='text: available'></td>
    	</tr>
    	<tr>
    	<td>Time</td><td data-bind='text: timestamp'></td>
    	</tr>
    	<tr>
    	<td>Latitude</td><td data-bind='text: latitude'></td>
    	</tr>
    	<tr>
    	<td>Longitude</td><td data-bind='text: longitude'></td>
    	</tr>
    	<tr>
    	<td>Speed</td><td data-bind='text: speed'></td>
    	</tr>
    	<tr>
    	<td>Battery life</td><td data-bind='text: batteryLife'></td>
    	</tr>
    	<tr>
    	<td>GSM signal</td><td data-bind='text: gsmSignal'></td>
    	</tr>
    	
    	<tr>
    	<td>Cell ID</td><td data-bind='text: cellId'></td>
    	</tr>
    	
    	<tr>
    	<td>Country Code</td><td data-bind='text: countryCode'></td>
    	</tr>
    	
    	<tr>
    	<td>Location Area Code</td><td data-bind='text: locationAreaCode'></td>
    	</tr>
    	
    	<tr>
    	<td>Network Code</td><td data-bind='text: networkCode'></td>
    	</tr>
    	
    	</table>
    </div>
  </body>
</html>
