
	
 
  <div id="info_window"><a id="zoom_in" href="#">zoom in</a>    
    	<table>
    	<tr>
    	<td>GPS Available</td><td>{{available}}</td>
    	</tr>
    	<tr>
    	<td>Time</td><td>{{timestamp}}</td>
    	</tr>
    	<tr>
    	<td>Latitude</td><td>{{latitude}}</td>
    	</tr>
    	<tr>
    	<td>Longitude</td><td>{{longitude}}</td>
    	</tr>
    	<tr>
    	<td>Speed</td><td>{{speed}}</td>
    	</tr>
    	<tr>
    	<td>Battery life</td><td>{{batteryLife}}</td>
    	</tr>
    	<tr>
    	<td>GSM signal</td><td>{{gsmSignal}}</td>
    	</tr>
    	
    	<tr>
    	<td>Cell ID</td><td>{{cellId}}</td>
    	</tr>
    	
    	<tr>
    	<td>Country Code</td><td>{{countryCode}}</td>
    	</tr>
    	
    	<tr>
    	<td>Location Area Code</td><td>{{locationAreaCode}}</td>
    	</tr>
    	
    	<tr>
    	<td>Network Code</td><td>{{networkCode}}</td>
    	</tr>
    	
    	</table>
    </div>